<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./lib/css/style.css" type="text/css">

  <title>Dev Challenger</title>

</head>

<body>

  <section class="header">
    <div class="title-header">
      <img src="./lib/img/devchallenges.png">
      <legend>devchallenges</legend>
    </div>
  </section>

  <div class="content">

    <section class="container create">
      <div class="box box-create">
        <div class="form">
          <div class="title">
            <img src="./lib/img/devchallenges.png">
            <legend>devchallenges</legend>
          </div>
          <div class="subtitle">
            <p class="primary-sub">Join thousands of learners from around the world</p>
          </div>
          <div class="subtitle">
            <p class="second-sub">Master web development by making real-life projects. There are multiple paths for you
              choose</p>
          </div>
          <form name="formCreateUser">
            <input type="email" value="Email" name="email" id="email">
            <input type="password" value="password" name="password" id="password">
            <button class="button-create" type="submit">Start coding now</button>
          </form>
        </div>
        <div class="profiles">
          <div class="sub-profiles">
            <p>Or continue with theese social profile</p>
          </div>
          <div class="social-icons">
            <img src="lib/img/Google.svg">
            <img src="lib/img/Facebook.svg">
            <img src="lib/img/Twitter.svg">
            <img src="lib/img/Gihub.svg">
          </div>
        </div>
        <div class="has-member">
          <p>Already a member?<a id="login-arrow" href="login.html">Login</a></p>
        </div>
      </div>
      <div class="create-footer">
        <p>Created by LeonardoSousa</p>
        <p>devchallenges.io</p>
      </div>
    </section>

    <section class="container login">
      <div class="box box-login">
        <div class="form">
          <div class="title">
            <img src="./lib/img/devchallenges.png">
            <legend>devchallenges</legend>
          </div>
          <div class="login-title">
            <h1>Login</h1>
          </div>
          <form name="formLogin">
            <input type="email" value="Email" name="email" id="login-email">
            <input type="password" value="password" name="password" id="login-password">
            <button class="button-login" type="submit">Login</button>
          </form>
        </div>
        <div class="profiles">
          <div class="sub-profiles">
            <p>Or continue with theese social profile</p>
          </div>
          <div class="social-icons">
            <img src="lib/img/Google.svg">
            <img src="lib/img/Facebook.svg">
            <img src="lib/img/Twitter.svg">
            <img src="lib/img/Gihub.svg">
          </div>
        </div>
        <div class="has-no-member">
          <p>Don't have an account yet?<a id="register-arrow" href="register.html">Register</a></p>
        </div>
      </div>
      <div class="login-footer">
        <p>Created by LeonardoSousa</p>
        <p>devchallenges.io</p>
      </div>
    </section>

    <section class="profile">

      <div class="page-title">
        <h1>Personal info</h1>
        <legend>Basic info like your name and photo</legend>
      </div>
      <div class="box box-profile">
        <div class="form row">
          <div class="column">
            <div class="title-profile">
              <h1>Profile</h1>
              <legend class="subtitle-profile">Some info may be visible to other people</legend>
            </div>
          </div>
          <div class="button-edit-profile">
            <button class="button-edit">Edit</button>
          </div>
        </div>
        <div class="column">
          <div class="row photo">
            <div class="field-name">
              <h1 class="field-title">PHOTO</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
          <div class="row name text-info">
            <div class="field-name">
              <h1 class="field-title">NAME</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
          <div class="row bio text-info">
            <div class="field-name">
              <h1 class="field-title">BIO</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
          <div class="row phone text-info">
            <div class="field-name">
              <h1 class="field-title">PHONE</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
          <div class="row email text-info">
            <div class="field-name">
              <h1 class="field-title">EMAIL</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
          <div class="row password text-info">
            <div class="field-name">
              <h1 class="field-title">PASSWORD</h1>
            </div>
            <div class="field-info">
              <h1 class="field-content">teste</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-footer">
        <p>Created by LeonardoSousa</p>
        <p>devchallenges.io</p>
      </div>
    </section>

    <section class="edit">
      <div class="button-back">
        <button id="back">
          < Back </button>
      </div>
      <div class="box box-edit">
        <div class="form row">
          <div class="column">
            <div class="title-edit">
              <h1>Edit</h1>
              <legend class="subtitle-edit">Edit some informations about you</legend>
            </div>
          </div>
          <div class="button-edit-profile">
            <button class="button-edit">Edit</button>
          </div>
        </div>
        <div class="column">
          <div class="row photo">
            <div class="field-name">
              <h1 class="field-title">PHOTO</h1>
            </div>
            <div class="field-info">
              <h1 class="field-title">CHANGE PHOTO</h1>
            </div>
          </div>
          <div class="row name text-edit">
            <div class="field-edit">
              <h1 class="field-title">NAME</h1>
              <input id="edit-username" class="field-input"></input>
            </div>
          </div>
          <div class="row bio text-edit-bio">
            <div class="field-edit field-edit">
              <h1 class="field-title">BIO</h1>
              <textarea id="edit-bio" class="field-input"></textarea>
            </div>
          </div>
          <div class="row phone text-edit">
            <div class="field-edit">
              <h1 class="field-title">PHONE</h1>
              <input id="edit-phone" class="field-input"></input>
            </div>
          </div>
          <div class="row email text-edit">
            <div class="field-edit">
              <h1 class="field-title">EMAIL</h1>
              <input id="edit-email" class="field-input"></input>
            </div>
          </div>
          <div class="row password text-edit">
            <div class="field-edit">
              <h1 class="field-title">PASSWORD</h1>
              <input id="edit-password" class="field-input"></input>
            </div>
          </div>
          <div>
            <button id="edit-button"></button>
          </div>
        </div>
      </div>
      <div class="profile-footer">
        <p>Created by LeonardoSousa</p>
        <p>devchallenges.io</p>
      </div>
    </section>

  </div>

  <script type="module" src="./lib/js/main.js"></script>

</body>

</html>